{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#999;
	color: #FFF;
}
{% endblock %}
</style>



{% block jumbotron %}
 {% if not request.user.is_authenticated %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Roommate Fider</h1>
		<p>Tired of been matched with the wrong people? This is the right place for you</p>
		<p>
		<a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
		</p>
		</div>
		<div class='col-sm-6' >
			<iframe width="460" height="315" src="https://www.youtube.com/embed/xeqz5PnqhwI" frameborder="0" allowfullscreen></iframe>

 		</div>
		</div>
	</div>
 </div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	{% for instance in queryset %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.date_created|timesince }} ago</td></tr>
		{% if instance.email == "abc@gmail.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>

	{% endif %}

 {% else %}
<div class="row">

  <div class="col-sm-3 pull-right">

			<p class='lead text-align-center'>{{ title }}</p>

			<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}

			<input class='btn btn-primary' type='submit' value='Sign Up' />

			</form>
	</div>

	<div class='col-sm-3'>
<p class='lead text-align-center'>Django Hates me</p>
			<i class="fa fa-camera-retro fa-5x"></i>
</div>


<div class='col-sm-3'>
<p class='lead text-align-center'> Bla bla
<br/>
<i class='fa fa-comment-o fa-stack-5x'></i>

</span>
</p>
</div>


<div class='col-sm-3'>
<p class='lead text-align-center'>Best roommies <br/><br/>

</p>
</div>


</div>
{% endif %}

{% endblock %}